#screen-cover {
  display: block;
  margin: 0 auto;
  /* cursor: crosshair; */
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png)
      53 53,
    crosshair;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
