// fadein content effect
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// h2,
// h3,
// p,
// .fade-in-img img,
// a,
// h6 {
//     opacity: 0;
// }




@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

}

// progress bars
div.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    background-color: #be3c52;
    /* all elements by default have a z-index of 0  */
    z-index: 1;
    transition: background-color 0.5s;
}

// stamps
.stamps {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
}

.stamps img {
    position: absolute;
    /* centre the img in the middle of where we click */
    transform: translate(-50%, -50%);
    animation: spin 30s linear infinite;
}

// cursor
a,
body {
    cursor: url(../assets/cursor-pizza-white.png), auto;
}
