@font-face {
  font-family: "Sil";
  src: url(../assets/fonts/SuisseIntlB.woff2) format("woff2"),
    url(../assets/fonts/SuisseIntlB.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sil";
  src: url(../assets/fonts/SuisseIntlM.woff2) format("woff2"),
    url(../assets/fonts/SuisseIntlM.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Good Glyphs";
  src: url("../assets/fonts/GoodGlyphs-No1.woff2") format("woff2"),
    url("../assets/fonts/GoodGlyphs-No1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
