@font-face {
    font-family: "HK Grotesk SemiBold";
    src: url(../assets/fonts/hkgrotesk-semibold-webfont.woff), url(../assets/fonts/hkgrotesk-semibold-webfont.woff2);
}

@font-face {
    font-family: "HK Grotesk Bold";
    src: url(../assets/fonts/hkgrotesk-bold-webfont.woff), url(../assets/fonts/hkgrotesk-bold-webfont.woff2);
}