  /* footer */
  footer {
    margin-top: 250px;
    height: 60vh;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/footer.svg);
    background-size: cover;
  }
  
  @media only screen and (max-width: 760px) {
    footer {
      padding: 24px 16px;
    }
  }
  
  div.social-links-footer {
    position: relative;
    top: 30%;
    display: flex;
  }
  
  div.social-links-footer a {
    margin-right: 25px;
    font-size: 75px;
  }
  
  div.social-links-footer a:hover {
    cursor: pointer;
    color: #FFD363;
    -webkit-text-stroke: 2px #fff;
  }
  
  div.social-links-footer a:last-of-type {
    margin-right: 0px;
  }
  