@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

// gallery
.gallery {
  position: relative;
  min-height: 120vh;

  .heading {
    position: absolute;
    left: 50%;
    transform: translate(-50%) !important;
    width: 100%;
    top: 20%;
    white-space: nowrap;
    z-index: 2;
    align-items: center;

    span {
      font-size: 20vh;
      font-weight: 400;
      display: inline-block;
      animation: marquee 125s linear infinite;
    }
  }
}

.swiper-container {
  margin-top: 32px;
  cursor: grab;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    &:nth-child(odd) {
      flex-direction: column-reverse;

      // .gallery-text {
      //     text-align: right;
      //     margin-left: auto;
      //     left: 0;
      // }
    }

    &:nth-child(even) {
      .gallery-text {
        right: initial;
        left: 40px;
      }
    }

    @include md {
      &:first-of-type {
        display: none;
      }
    }

    @include sm {
      &:last-of-type {
        display: none;
      }
    }

    img {
      width: 100%;
      object-fit: contain;
      object-position: left;
    }

    .gallery-text {
      position: absolute;
      top: 100px;
      right: 40px;
      // opacity: 0;
      // transition: opacity 600ms ease;
      font-size: 12px;
      text-align: left;
      text-transform: uppercase;
      max-width: 90px;
      color: #0a0a0a;
    }

    &.caption-visible .gallery-text {
      opacity: 1;
    }
  }

  .swiper-scrollbar {
    background: #41817a75;
    border-radius: 0;
    height: 3px;
    width: calc(100% - 20px);
    max-width: 900px;
  }
}
