section {
  position: relative;
}

// first section
.natural {
  .inner {
    padding-top: 240px;

    .copy {
      max-width: 540px;
    }

    .img-outer {}
  }

  .square {
    bottom: 0;
  }

  .circle {
    z-index: 2;
    right: 10%;
  }
}

// second section
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.doing {
  position: relative;

  .marquee {
    position: absolute;
    top: 30%;
    left: 0;
    display: flex;
    align-items: center;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;

    span {
      display: inline-block;
      font-size: 230px;
      line-height: 230px;
      animation: marquee 45s linear infinite;
    }
  }

  .inner {




    .img-outer {}

    .circle {
      background-color: #be3c52;
    }

    .square {
      background-color: #5f3736;
      top: 10%;
      right: 30%;
    }
  }
}


// third section
.lookbook {
  background-image: url(../assets/hero/image_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  .inner {
    .copy {
      text-align: center;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }
}






// Fourth section: view our spring collection
.spring {
  .inner {
    .copy {}

    .img-outer {}

    .circle {
      right: 80px;
      background-color: #6e5f67;
    }

    .square {
      background-color: #d54156;
    }

  }
}