section {
  position: relative;
}

.chapter {
  .copy {
    padding: 0 4em;
  }
}


.hero {

  .hero-first-section {
    padding-top: 740px;

    .heading {
      position: fixed;
      // position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      width: 100%;
      margin-top: 2rem;

      h1 {
        font-size: 32vw;
        font-weight: 700;
        letter-spacing: -3px;
        line-height: initial;
        -webkit-text-stroke: 3px #000;
        color: darkturquoise;
      }
    }

    .img-outer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10em;
      mix-blend-mode: difference;

      img {
        width: 60vw;
        height: 100%;
      }
    }
  }

  .img2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
      // filter: invert(100%);
      max-width: 800px;
    }
  }

  .img3 {
    display: flex;
    justify-content: center;
    padding: 0 5em; 

    img {
      max-width: 100%;
    }
  }

}

.about {
  &.padding {
    padding: 140px 0;
  }

  .copy {
    margin: 8vh auto 0;

    .small-heading {
      font-size: 2vh;
    }

    p {
      font-size: 5vh;
      line-height: initial;

      &:not(:first-of-type) {
        padding-top: 32px;
      }
    }
  }
}

.sources {
  margin-top: 20vh;
  .copy {
    h3 {
      font-size: 8vh;
      font-weight: 400;
      line-height: 10vh;
    }
  }


  .accordions-wrapper {
    padding-top: 32px;
    
    .accordion {
      position: relative;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      width: 100%;

      .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;

        .artwork-link {
          margin: 0 auto;
          text-align: center;
          &:hover {
            font-style: italic;
            transform: none;
          }
        }
        .expand-link {
          position: absolute;
          right: 1em;
          font-size: 22px;
        }

      }


    }

    .artwork-preview {
      position: absolute;
      top: 50%;
      left: 10%;
      display: none;
      img {
        max-width: 100%;
        max-height: 340px;
      }

      &.right {
        left: inherit;
        right: 10%;
      }

    }

  }

}