section {
  position: relative;
}


.hero {

  .hero-first-section {
    padding-top: 12vh;

    .heading {
      // position: fixed;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      width: 100%;
      margin-top: 2rem;

      h1 {
        font-size: 32vw;
        font-weight: 700;
        letter-spacing: -3px;
        line-height: initial;
        -webkit-text-stroke: 3px #fff;
      }
    }

    .img-outer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10em;
      mix-blend-mode: difference;

      img {
        width: 60vw;
        height: 100%;
      }
    }
  }

  .img2 {
    margin: 20vh 0 15vh;
    padding-left: 5em;
    mix-blend-mode: difference;

    img {
      width: 90%;
      height: 100%;
      // filter: invert(100%);
    }
  }

}

.about {
  &.padding {
    padding: 140px 0;
  }

  .copy {
    margin: 8vh auto 0;
    padding: 0 124px;

    .small-heading {
      font-size: 2vh;
    }

    p {
      font-size: 5vh;
      line-height: initial;

      &:not(:first-of-type) {
        padding-top: 32px;
      }

    }
  }
}









