// Small tablets and large smartphones (landscape view)
$screen-mobile: 600px;

// Tablets and small desktops
$screen-med: 1200px;

$screen-l: 1600px;


// Small devices - <= 600px
@mixin sm {
  @media (max-width: #{$screen-mobile}) {
    @content;
  }
}

// Medium devices - <= 1200px
@mixin md {
  @media (max-width: #{$screen-med}) {
    @content;
  }
}

// Large devices - >= 1600px
@mixin lg {
  @media (min-width: #{$screen-l}) {
    @content;
  }
}
