nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    .inner {
        display: flex;
        justify-content: space-between;
        padding: 22px;
        width: 100%;

        .left {
            h3 {
                font-size: 22px;
                font-weight: 700;
            }
        }

        .middle {
            display: flex;

            a {
                font-size: 26px;
                line-height: 26px;
                font-weight: 700;
                text-transform: uppercase;
                margin-right: 16px;
            }
        }

        .right {
            margin-right: 32px;
            p {
                font-size: 20px;
            }
        }
    }
}