nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  .inner {
    display: flex;
    justify-content: space-between;
    padding: 22px;
    width: 100%;
    .left {
      .brand-text {
        text-shadow: 10px 10px 0 rgb(255, 255, 255);
        // filter: blur(2px);
      }
    }
    .middle {
      display: flex;
      a {
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 16px;
      }
    }
    .right {
      margin-right: 32px;
      .brand-text {
        text-shadow: 10px 10px 0 rgb(255, 255, 255);
        // filter: blur(10px);
      }
    }
  }
}
