

  /* this is what we target in the JS */
  header.white {
    color: #fff;
  }
  
  header h1 {
    font-size: 34px; 
  }
  
  .spring-section {
    background-color: #c8dee0;
    min-height: 100vh;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* background colours */
  
  section.s1 {
    background-color: #c8dee0;
  }
  
  section.s2 {
    background-color: #ffd5b1;
  }
  
  section.s3 {
    background-color: #eeeeee;
  }
  
  section.s4 {
    background-color: #be3c52;
  }
  
  section.s5 {
    background-color: #FFD363;
  }
  
  section.s6 {
    background-color: #292121;
  }
  
  
  /* stamps */
  
  div.stamps {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
  }
  
  div.stamps img {
    position: absolute;
    /* centre the img in the middle of where we click */
    transform: translate(-50%, -50%);
    animation: spin 30s linear infinite;
  }
  
  
  /* progress bar */
  
  div.progress {
    position: fixed;  
    top: 0;
    left: 0;
    width: 0; 
    height: 10px; 
    background-color: #333; 
    /* all elements by default have a z-index of 0  */
    z-index: 1; 
    transition: background-color 0.5s; 
  }
  
  /* this is what we target in the JS for the progress bar */
  div.progress.white {
    background-color: #fff; 
  }