@import "effects";
@import "fonts";
@import "footer";
@import "hero";
@import "menu";
@import "lookbook";
@import "spring-collection";
@import "common";
// @import "shapes";

body {
    // font-family: "HK Grotesk SemiBold", Arial, Helvetica, sans-serif;
    font-family: Helvetica Neue;
    font-size: 24px;
    color: #0a0a0a;
    // background-color: #ecc7ab;
    // background-color: #ff6e00;
    background-color: #00F4B4;
    margin: 0 auto;
    transition: background-color 1s;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}