@import "media-queries";
@import "fonts";
@import "hero";
@import "menu";
@import "common";
@import "gallery";


body {
    // font-family: Helvetica Neue;
    font-family: "Sil";
    font-weight: 400;
    font-size: 24px;
    // color: #0a0a0a;
    background-color: black;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: pointer;
        transform: scaleX(-1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #000;
    cursor: pointer;
    transition: all 1s ease;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.parallax-scroll {
    opacity: 0;
}